body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Example image style */
.icon {
  width: 2cm;
  height: 2cm;
  object-fit: cover; /* ensures the image keeps aspect ratio and fills the box */
}

/* Tables */
table {
    border-collapse: collapse; /* Merge borders */
    page-break-inside: avoid; /* Prevent table from breaking across pages */
}

th {
    background-color: #cacaca;
    font-weight: bold;
}

/* Table with borders everywhere */
.table-borders,
.table-borders tr,
.table-borders th,
.table-borders td {
    border: 1pt solid black;
    padding: 2mm;
}

/* Table with only borders outside */
.table-borders-outside {
    border: 1pt solid black;
    padding: 2mm;
}
