/* Embedded fonts for consistent rendering across all platforms (important for regression testing) */

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;

}
