/* Header and Footer CSS using Paged Media */

.header-running {
    position: running(header-content);
}


.footer-running {
    position: running(footer-content);
}

@page {

    /* Position header at top center of page */
    @top-center {
        content: element(header-content);
    }

    /* Position footer at bottom center of page */
    @bottom-center {
        content: element(footer-content);
    }
}

/* Page number styling for use in footer */
.page-number::after {
    content: " " counter(page);
}