/* Page setup */
@page {
    size: A4 portrait;
    margin-top: 2.5cm;
    margin-bottom: 2.5cm;
}

@page landscape {
    size: A4 landscape;
}

/* Section orientation */
.section-wrapper.landscape {
    page: landscape;
    page-break-before: always;
}

.section-wrapper.landscape+.section-wrapper.portrait {
    page-break-before: always;
}

/* Page break directive */
.pagebreak {
    page-break-after: always;
}