/* Table of contents styling */

/* Start H2 sections on a new page */
h2 {
    break-before: page;
}

@media print {

    #list-toc-generated {
        list-style: none;
    }

    #list-toc-generated .toc-element a {
        display: flex;
        align-items: baseline;
        text-decoration: none;
        color: inherit;
        overflow-x: hidden;
    }

    #list-toc-generated .toc-element a::after {
        content: '';
        flex: 1 1 auto;
        border-bottom: 2px dotted currentColor;
        margin-bottom: 0.35em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        min-width: 2em;
    }

    #list-toc-generated .toc-element a::before {
        content: target-counter(attr(href), page);
        order: 999;
    }
}

nav>ul {
    padding-inline-start: 0;
}

nav ul {
    list-style: none;
}